*{
    background-color: #555;

}

.container{
    height: 100vh;
    width: 70vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock-container{
    color: rgba(210, 210, 210, .8);
    width: 100%;
    height: 2rem;
    background-color: #5558;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    border-radius: 15px;
    transition: transform .7s;
}

.clock-container:hover{
    transform: scale(1.3);
}